nav ul {
    padding-left: 2%;
    display: flex;
    justify-content: right;
    align-items: right;
}

nav ul li {
    flex-basis: auto;
}

nav a {
    padding: .5rem 1rem;
    text-align: center;
}

header, footer, nav, main {
    max-width: 71.25rem;
    margin: auto;
}

div.gallery figure {
    flex-basis: 21%;
}